<header>
  <h2>{{ title | uppercase }} </h2>
</header>
<ul class="projects">
  <li *ngFor="let project of projects">

      <div class="project">
        <span>{{ project.name }}</span>
        <a routerLink = "/projectdetail/{{ project.id }}">
          <button class="details" [id]="project.id" > Show Details</button>
        </a>
      </div>

  </li>
<!--<div *ngIf="selectedProject">Name: {{selectedProject.name}}
  <p> id: {{selectedProject.id}} </p>
  <p> date: {{selectedProject.date}} </p>
</div>-->
</ul>
<!--<app-project-detail [project] = "selectedProject"></app-project-detail>-->
