<div class="project-detail" *ngIf="project">
  <header>
      <h1> {{ project.name |uppercase }} </h1>
  </header>
  <div class="details">
    <p> id: {{ project.id }} </p>
    <p> date: {{ project.date }} </p>
  </div>
  <app-tasks [tasks] = "project.tasks"></app-tasks>
  <div>
    <label for="project-name">Change project name:</label>
    <br>
    <input type="text" placeholder="name" id="project-name" [(ngModel)]= "selectedProject.name" />
    <button class="save" type="button" (click) = "save()">Save</button>
  </div>

  <a routerLink = "/addtask/{{ project.id }}">
    <button class="details"  > Add task</button>
  </a>
</div>
<button class="back" (click) = "goBack()">go back</button>

